.housing-details-form-hidden
{
    display: none;
    
}
.housing-details-form
{
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}
.search-results
{
    margin-top: 20px;
}
#location-search
{
    text-overflow: ellipsis;
}
.feat-vendors-slider-container
{
    position: relative;
    left: 300px;
    width: 640px;
    margin: auto;
    height: 350px;
    overflow: hidden;
}
.feat-vendors-slider
{
    display: flex;
    flex-direction: row;
    width: 1750px;
    height: 150px;
    margin-top: 15px;
    transition: transform 0.5s ease;
}
.vendor-feat-arrow
{
    position: absolute;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    columns: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftarrow-feat-vendors
{
    left: 5px;
}
.rightarrow-feat-vendors
{
    right: 5px;
}
.three-absolute-positions-categories
{
    position: absolute;
    display: block;
}
.stores-based-on-user-location
{
    display: none;
    position: absolute;
    top: 350px;
    left: 200px;
}