.container-homepage-explore {
    overflow-x: scroll;
    width: 100%;
    margin-top: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}
.flexdisplay-homepage-explore {
    display: flex;
    gap: 35px;
    font-size: 14px;
    width: 1260px;
    height: 150px;
    margin-left: 70px;
}
.homepage-box-explore {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.homepage-img-explore {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.homepage-container-land
{
    overflow-x: scroll;
    width: 100%;
    margin-top: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}
/* hide for chrome, safari, Opera */
#hide-scrollbars-homepage::-webkit-scrollbar {
    display: none;
}
#hide-scrollbars-homepage {
    /* hide for IE and Edge */
    -ms-overflow-style: none;
    /* hide for Firefox */
    scrollbar-width: none;
}
.homepage-boxes-container-land
{
    display: flex;
    gap: 15px;
    width: 1260px;
    height: 250px;
    margin-left: 70px;
    left: 0px;
}
.homepage-box-land
{
    width: 300px;
    height: 180px;
}
.homepage-img-land
{
    width: 300px;
    height: 180px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white; 
}
.homepage-container-rent
{
    overflow-x: scroll;
    width: 100%;
    margin-top: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}
.homepage-boxes-container-rent
{
    display: flex;
    gap: 15px;
    width: 1260px;
    height: 250px;
    margin-left: 70px;
    left: 0px;
}
.homepage-box-rent
{
    width: 300px;
    height: 180px;
}
.homepage-img-rent
{
    width: 300px;
    height: 180px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white; 
}
.homepage-container-vendors
{
    overflow-x: scroll;
    width: 100%;
    margin-top: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}
.homepage-boxes-container-vendors
{
    display: flex;
    gap: 35px;
    width: 1260px;
    height: 250px;
    margin-left: 70px;
    left: 0px;
}
.homepage-box-vendors
{
    width: 300px;
    height: 180px;
}
.homepage-img-vendors
{
    width: 300px;
    height: 180px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white; 
}

.homepage-navlist-container
{
    position: relative;
    color: white;
    height: 40px;
    width: 100%;
}
.user-homepage-navlist-subdiv
{
    position: fixed;
    display: flex;
    width: 100%;
    height: 40px;
    bottom: 0;

}
.user-homepage-navlist-link
{
    border: 3px solid black;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}
.users-homepage-navicon
{
    width: 40px;
    height: 30px;
    border-radius: 50%;
}