.display-filter-slideup::-webkit-scrollbar {
    display: none;
}
.display-filter-slideup {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.display-location-slideup-container {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    width: 100%;
    height: 0px;
    color: white;
    transform: translateY(500px);
    transition: transform 0.5s ease-in-out;
}
.display-filter-slideup { 
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 400px;
    height: 500px;
    margin: auto;
    padding-bottom: 15px;
    background-color: black;
}
.display-location-slideup-container.active {
    position: fixed;
    height: auto;
    transform: translateY(0);  
}
.close-filter-display {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
}
.maxmin-text-userrent
{
    font-size: 0;
    transform: translateY(10px);
    transition: transform 0.2s ease-in-out;
}
.maxmin-text-userrent.showabove {
    font-size: 15px;
    transform: translateY(0);
}
.location-list-userrent li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid grey;
    list-style-type: none;
}


.display-housetypefilter-slideup::-webkit-scrollbar {
    display: none;
}
.display-housetypefilter-slideup {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.display-housetype-slideup-container {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    width: 100%;
    height: 0px;  
    color: white;
    transform: translateY(500px);
    transition: transform 0.5s ease-in-out;
}
.display-housetypefilter-slideup { 
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 400px;
    height: 500px;
    margin: auto;
    background-color: black;
}
.display-housetype-slideup-container.active {
    position: fixed;
    height: auto;
    transform: translateY(0);
    
}
.close-housetype-display {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
}
.housetype-maxmin-text-userrent
{
    font-size: 0;
    transform: translateY(10px);
    transition: transform 0.2s ease-in-out;
}
.housetype-maxmin-text-userrent.showabove {
    font-size: 15px;
    transform: translateY(0);
}
.housetype-list-userrent li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid grey;
    list-style-type: none;
}
.user-rent-pg1-filterby-redirect
{
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    border-radius: 18px;
}
.rent-pg1-samples-container1
{
    width: 350px;
    height: 250px;
    margin: auto;
}
.rent-pg1-samples-container1-img
{
    width: 350px;
    height: 180px;
    margin-top: 5px;
    border-radius: 15px;
}

/* VENDOR SECTION */
/* remove clear button in chrome */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
/* remove clear button in chrome  */
input[type="search"]::-ms-clear {
    display: none;
    width: o;
    height: 0;
}