.dropdowns-to-sort-by {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: blue;
    border: 1px solid olive;
    border-radius: 15px;
    margin-top: 20px;
}
.dropdowns-to-sort-by.activedropdown {
    display: block;
}
.recent-search-homelandnav > div{
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid whitesmoke;
}