{% extends "layout.html" %}
{% block body %}

    <div style="background-color: #004aad; color: white; width: 100%; height: 50px;"> < add property </div>

    <div class="housing-agent-additem-form">
        <form action="agent_housing_listing" method="post" enctype="multipart/form-data"
            style="display: flex; flex-direction: column; gap: 40px; width: 630px; margin: auto;
                border: 2px solid green;">
            <div style="width: 620px; margin: auto;">
                <p>Category</p>
                <select name="category" class="house-agent-additem-selectmenu">
                    <option disabled selected value=""></option>
                    <option name="One acre">One acre</option>
                    <option name="Two acres">Two acres</option>
                    <option name="Three acres">Three acres</option>
                    <option name="One plot">One plot</option>
                    <option name="Two plots">Two plots</option>
                    <option name="Three plots">Three plots</option>
                    <option name="Four plots">Four plots</option>
                    <option name="Five plots">Five plots</option>
                </select>
                <!-- this is the option for them to update their category list -->
                <p style="color: green;"> + Add category </p>
            </div>
    
            <div style="width: 620px; margin: auto;">
                <p>Property Location</p>
                <select class="house-agent-additem-input">
                    <option name="Lagos" disabled selected>Lagos</option>
                </select>
            </div>
    
            <div style="width: 620px; margin: auto;">
                <p>Property Address</p>
                <!-- put a measure inplace here eg with javascript to make sure they dont type numbers -->
                <input autocomplete="off" name="property location" type="text"  class="house-agent-additem-input">
            </div>
    
            <div style="width: 620px; margin: auto;">
                <p>Price</p>
                <!-- look for how to put money amount in a form -->
                <input autocomplete="off" name="property location" type="number"  class="house-agent-additem-input">
            </div>

            <div style="margin: auto;">Upload property image</div>
            <!-- let it have the same width as other inputs -->
            <div style="position: relative; width: 620px; height: 460px; overflow: hidden; margin: auto;
                border: 1px solid lightblue;" class="pictures-videos-container">

                <div style="display: flex; height: 420px; width: 1900px; gap: 20px;
                    transition: transform 0.5s ease; margin-top: 5px;"
                    id="houses-pictures-videos-slider"> 
                    <div style="position: relative; width: 300px; height: 250px;
                        border-radius: 15px; background-color: #e4e7eb;">                 
                        <input type="file" style="position: absolute; left: 0; top: 0; width: 300px;
                            height: 250px; border-radius: 15px; opacity: 0; z-index: 2;"
                            id="coverimage-fileInput">
                        <img src="land-icon.jpg" style="position: absolute; left: 0; top: 0; width: 300px;
                            height: 250px; display: none; z-index: 1; object-fit: cover;" id="imagePreview">
                    </div>

                    <div style="position: relative; width: 300px; height: 400px;
                        border-radius: 15px; background-color: #e4e7eb;">                 
                        <input type="file" style="position: absolute; left: 0; top: 0;
                            width: 300px; height: 400px; border-radius: 15px; opacity: 0; z-index: 2;"
                            id="coverimage-fileInput">
                        <img src="land-icon.jpg" style="position: absolute; left: 0; top: 0; width: 300px;
                            height: 400px; display: none; z-index: 1; object-fit: cover;" id="imagePreview">
                    </div>

                    <div style="position: relative; width: 300px; height: 250px;
                        border-radius: 15px; background-color: #e4e7eb;">                 
                        <input type="file" style="position: absolute; left: 0; top: 0;
                            width: 300px; height: 250px; border-radius: 15px; opacity: 0; z-index: 2;"
                            id="coverimage-fileInput">
                        <img src="land-icon.jpg" style="position: absolute; left: 0; top: 0; width: 300px;
                            height: 250px; display: none; z-index: 1; object-fit: cover;" id="imagePreview">
                    </div>

                    <div style="position: relative; width: 300px; height: 400px;
                        border-radius: 15px; background-color: #e4e7eb;">                 
                        <input type="file" style="position: absolute; left: 0; top: 0;
                            width: 300px; height: 400px; border-radius: 15px; opacity: 0; z-index: 2;"
                            id="coverimage-fileInput">
                        <img src="land-icon.jpg" style="position: absolute; left: 0; top: 0; width: 300px;
                            height: 400px; display: none; z-index: 1; object-fit: cover;" id="imagePreview">
                    </div>

                    <div style="position: relative; width: 300px; height: 250px;
                        border-radius: 15px; background-color: #e4e7eb;">                 
                        <input type="file" style="position: absolute; left: 0; top: 0;
                            width: 300px; height: 250px; border-radius: 15px; opacity: 0; z-index: 2;"
                            id="coverimage-fileInput">
                        <img src="land-icon.jpg" style="position: absolute; left: 0; top: 0; width: 300px;
                            height: 250px; display: none; z-index: 1; object-fit: cover;" id="imagePreview">
                    </div>

                    <div style="position: relative; width: 300px; height: 400px;
                        border-radius: 15px; background-color: #e4e7eb;">                 
                        <input type="file" style="position: absolute; left: 0; top: 0;
                            width: 300px; height: 400px; border-radius: 15px; opacity: 0; z-index: 2;"
                            id="coverimage-fileInput">
                        <img src="land-icon.jpg" style="position: absolute; left: 0; top: 0; width: 300px;
                            height: 400px; display: none; z-index: 1; object-fit: cover;" id="imagePreview">
                    </div>
                </div>
                <button type="button" class="multifiles-nav-arrow multifiles-leftarrow" id="multifiles-leftarrow">&#8592;</button>
                <button type="button" class="multifiles-nav-arrow multifiles-rightarrow" id="multifiles-rightarrow">&#8594;</button>
                <div id="error-message"></div>
            </div>

            <div style="width: 620px; margin: auto;">
                <p>Description</p>
                <!-- edit to allow numbers and texts -->
                <input autocomplete="off" name="property location" type="text"  class="house-agent-additem-input">
            </div>
    
            <input type="submit" value="Add property" class="housing-agent-additem-form-button">

        </form>
    </div>

    <div style="position: relative;">
        <div style="position: fixed; bottom: 50px; right: 100px; width: 50px; height: 50px; border-radius: 50%;
            background-color: #0056b3; display: flex; justify-content: center; align-items: center; z-index: 1;">
            <i class="material-icons" style="font-size: 35px; color: white; text-align: center;">message</i>
        </div>
    </div>

    <div class="agent-homepage-navlist-container">
        <div class="user-homepage-navlist-subdiv">
            <a href="housing_agent_homepage" class="agent-homepage-navlist-link">
                <img src="{{url_for ('static', filename='user-home-icon.jpg') }}" class="users-homepage-navicon">
            </a>
            <div style="color: black; position: absolute;">Orders</div>
            <a href="form_to_add_item_housingagent" class="agent-homepage-navlist-link">
                <img src="{{url_for ('static', filename='land-icon.jpg') }}" class="users-homepage-navicon">
            </a>
            <div style="color: black; position: absolute;">Land listing</div>
            <a href="agent_rent_listing" class="agent-homepage-navlist-link">
                <img src="{{url_for ('static', filename='user-rent-icon.jpg') }}" class="users-homepage-navicon">
            </a>
            <div style="color: black; position: absolute;">Inbox</div>
            <a href="insights_page_housingagent" class="agent-homepage-navlist-link">
                <img src="{{url_for ('static', filename='user-houseitems-icon.jpg') }}" class="users-homepage-navicon">
            </a>
            <div style="color: black; position: absolute;">Appointments</div>
            <a href="insights_page_housingagent" class="agent-homepage-navlist-link">
                <img src="{{url_for ('static', filename='user-account-icon.jpg') }}" class="users-homepage-navicon">
            </a>
            <div style="color: black; position: absolute;">Account</div>
        </div>
        
    </div>

    
    <script>
        
        let coverimagefileInput = document.querySelectorAll("#coverimage-fileInput");
        let imagePreview = document.querySelectorAll("#imagePreview");

        for (let i=0; i<coverimagefileInput.length; i++) {
            coverimagefileInput[i].addEventListener('change', function() {
                if (coverimagefileInput[i].files.length > 0) {
                    const file = coverimagefileInput[i].files[0];
                    const reader = new FileReader();
                    reader.onload = function(e) { 
                    imagePreview[i].src = e.target.result;
                    imagePreview[i].style.display = "block";
                };
                reader.readAsDataURL(file);
                    
                }
            });
        }

    // --------------------------------------------------------------------------------------------------------


        const multifilesSlider = document.getElementById('houses-pictures-videos-slider');
        const leftArrow = document.getElementById('multifiles-leftarrow');
        const rightArrow = document.getElementById('multifiles-rightarrow');

        // this is the variable which will determine the px(-ve or +ve) to move the slider
        let position = 0;

        // calculate visible width plus margins(I want to show 3 divs per time)
        multifilesWidth = 640; 
        // set maximum number of times slide should move when right arrow is clicked
        let slideCount = 1;
        // calculate the number of slides in slider
        const multifilesCount = multifilesSlider.children.length;

        // handle left arrow click
        leftArrow.addEventListener('click', () => {
            // reset counter
            slideCount = 1;
           // when position has assumed a -ve value after clicking the right arrow, position is then
            // less than 0 and so the slider can move right (with the help of giving it a =px)
            // when the left arrow is clicked
            if(position < 0) {
                // this position shows what px will the slider be moved on the x axis when the
                // function is called
                position += multifilesWidth;
                updateSliderPosition();
            }
            
        });
        // the right arrow causes the first translateX. (ie to say that on page load, if the user
        // clicks the left arrow first, the slider wont move because the slide is at the end anyway)
        rightArrow.addEventListener('click', () => {
            // calculate maximum negative position. substract the number of slides displayed per time 
            //   from the total slides to give you how many times the skider can be moved(for eg twice)
            // maxPosition will have -ve sign because you have to add negative px for the slides to move
            // to the left on the X axis
            const maxPosition = -(multifilesWidth * (multifilesCount - 2));

            if (slideCount < multifilesCount / 2) {
                // 0 is > -ve values, so move left (by increase negative position)
                if (position > maxPosition) {
                    // give position a negative value here, so that it can move the slider left
                    position -= multifilesWidth;
                    updateSliderPosition();
                    slideCount++;
                }
            }
        });

        // update slider position
        function updateSliderPosition() {
            multifilesSlider.style.transform = `translateX(${position}px)`;
        }

        
    </script>
{% endblock %}