{% extends "layout.html" %}

{% block body %}

    <div class="section-one">
        <div style="overflow: hidden; width: 970px; margin: auto; height: 1000px; border: 1px solid black;
            border-radius: 10px; background-color: black; position: relative; top: 0;">
            <div class ="header-slideshow-landingpage">
            
                <img src="{{ url_for ('static', filename='land-icon.jpg') }}" style="width: 910px; height: 1000px;">

                <img src="{{ url_for ('static', filename='kitchen-utensils.jpg') }}" style="width: 910px; height: 1000px;">

                <img src="{{ url_for ('static', filename='couch-furniture.jpg') }}" style="width: 910px; height: 1000px;"> 
            </div>
        </div>

        <div class="section-one-sub1">
            <div class="header-h-and-P">Housing & Properties</div>
            <div style="display: flex; justify-content: center; background-color: white; border: 1px solid white;
                border-radius: 50px; width: 600px; margin-left: 40px;">
                <a href="{{ url_for ('buylinkfrompage2') }}" class="header-Buy">Buy</a>
                <div class="header-Sell">Sell</div>
                <div class="header-Stories">Stories</div>
                <div class="header-FAQs">FAQs</div>
                <div class="header-Resources">Resources</div>
                <a href="signin" class="header-Signin">Sign in</a>
            </div>
                <!-- dropdown below come up when user hovers on resources above,
                jquery was used to achieve this -->
                <!-- <div class="resources-dropdown">
                    <div style="display: flex; margin-top: 10px; margin-left: 10px;">
                        <div class="box-one-in-resources-dropdown"></div>
                        <div class="other-boxes-in-resources-dropdown"></div>
                    </div>
                    <div style="display: flex; margin-top: 10px; margin-left: 10px;">
                        <div class="box-one-in-resources-dropdown"></div>
                        <div class="other-boxes-in-resources-dropdown"></div>
                    </div>
                    
                </div> -->
            
            <div class="createAccount-container">
                <div class="header-CreateAccount">
                    <span>Create free account</span>
                    <i style="width: 2px; height: 2px; border: 2px solid black; border-radius: 100%;">
                        <i class="arrow down"></i>
                    </i>
                </div>  

                <!-- dropdown for creating free account -->
                <div class="dropdown-for-createAccount-lp">
                    <div class="createaccount-user-link">
                        <a href="createaccount-user" style="text-decoration: none;">
                            <div style="color: black; padding-top: 15px; box-sizing: border-box;">register to Buy</div>
                        </a>
                    </div>

                    <div class="createaccount-vendor-link">
                        <a href="createaccount-vendor">
                            <div style="color: black; padding-top: 15px; box-sizing: border-box;">register as Vendor</div>
                        </a>
                    </div>

                    <div class="createaccount-vendor-link">
                        <a href="createaccount-vendor">
                            <div style="color: black; padding-top: 15px; box-sizing: border-box;">register as Agent</div>
                        </a>
                    </div>
                </div>
            </div>
            <div style="position: static;"></div>
        </div>

    </div>

    <div class="customer-vendor-agent-nav">
        <a style="width: 100px; height: 50px; background-color: lightyellow; 
            border: 1px yellow; border-radius: 20px;" class="nav-landingpg" onclick="changeBackgroundcolor(1)">
            <p>Customer</p>
        </a>
        <a style="width: 100px; height: 50px; background-color: lightyellow; border: 1px yellow;
            border-radius: 20px; margin-left: 10px;" class="nav-landingpg" onclick="changeBackgroundcolor(2)">
            <p> Agents</p>
        </a>
        <a style="width: 100px; height: 50px; background-color: lightyellow; border: 1px yellow;
            border-radius: 20px; margin-left: 10px;" class="nav-landingpg" onclick="changeBackgroundcolor(3)">
            <p>Vendors</p>
        </a>
        <a style="width: 100px; height: 50px; background-color: lightyellow; border: 1px yellow;
            border-radius: 20px; margin-left: 10px;" class="nav-landingpg" onclick="changeBackgroundcolor(4)">
            <p>Feature your craft</p>
        </a>
    </div>

    <div style="text-align: center; letter-spacing: 1px; font-size: 20px;">
        <h1 style="text-align: center; font-size: 70px;">Sign up</h1>
        <div>Unlock next level of ease in land purchase,</div> <br>
        <div>renting apartments and have wide range home essential and</div> <br>
        <div>appliances delivered to you within in Lagos, Nigeria.</div>
        <div style="margin-left: 300px; border-bottom: 3px solid black;
            margin-top: 20px;">Read about incoming features > </div>
    </div>


        <div style="margin-top: 100px; margin-left: 30px;">
            <h1 style="width: 800px; height: 100px; margin: auto; font-size: 50px;">Join our growing network > </h1>
            <div style="display: flex; flex-direction: row; text-align: center;">
                <div style="flex: 30%; height: 500px; background-color: white; border: 5px solid black;
                    border-radius: 15px; letter-spacing: 1px;"> 
                    <h2 style="font-size: 30px;">Start Selling</h2>
                    Are you a real estate agent, land agent, home essentials vendor<br>
                    looking to grow your business? Reach <br>
                    new customers when you  join our network. <br>
                    See more > <br>
                </div>
            
                <div style="flex: 30%; height: 500px; background-color: white; border: 5px solid black;
                    border-radius: 15px; margin-left: 10px; letter-spacing: 2px;"> 
                    <h2 style="font-size: 30px;">Join Our Growing Network</h2>
                    Are you  a business owner with a business <br>
                    that matches the scope of the brand (eg- <br>
                    interior decor, building facilities) <br>
                    join our promotion/advert list and become <br>
                    an affiliate. See more >
                </div>
            </div>
        </div>
        
        <div style="background-color: green; width: 110%; height: 700px; margin-left: -9px;
            margin-top: -100px; padding-top: 10px;">

            <div class="loader3in1Slide-container">
                <!-- this has two classes -->
                <div class="loader-in-landingpage-subdiv div3in1-fade-lp" style="background-color: orange; position: absolute;">
                    <h>Get Started in 3 </h>
                    <div style="position: absolute; bottom: 0;">
                        <div class="loader-in-landingpage"></div>
                    </div>
                </div>

                <!-- this has two classes -->
                <div class="loader-in-landingpage-subdiv" style="background-color: brown; position: absolute;">
                    <h>Use the app </h>
                    <div style="position: absolute; bottom: 0;">
                        <div class="loader-in-landingpage"></div>
                    </div>
                </div>

                <div class="loader-in-landingpage-subdiv" style="background-color: grey; position: absolute;">
                    <h>Goodbye </h>
                    <div style="position: absolute; bottom: 0;">
                        <div class="loader-in-landingpage"></div>
                    </div>
                </div>
            </div>
        </div>
            

        <div style="width: 110%; height: 500px; margin-left: -9px; 
            background-color: green;">
            <div style="display: flex; flex-direction: row; margin-left: 30px;">
                <div style="flex: 30%; font-size: 40px; color: white;">
                    <h2>Housing and properties has you covered</h2>
                </div>
                    
                <div style="flex: 30%; font-size: 20px; color: white; margin-top: 50px;">
                    <div>Looking to own a land and property in Lagos?</div> <br>
                    <div>Relocating to Lagos? Searching for a new apartment?</div> <br>
                    <div>want to set up you new home with necessities?</div> <br>
                    <div>Sign up on Housing & Properties and get things sorted out</div> <br>
                    <div>with ease.</div>
                </div>
            </div>
                
            <div style="position: relative;">
                <div class="animated-advantages-of-hp">
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
    
                    <div style="width: 200px; height: 70px; background-color: lightgreen; opacity: 0.5;
                        border: 1px solid white; border-radius: 15px; margin-left: 10px;">
                        24/7 support for Customers, Vendors & Agents
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: center;">
            <div style="flex: 40%; margin-left: 40px;">
                <button id="get-location" style="width: 100px; height: 100px; border: 1px solid black; border-radius: 50%;">             
                    LAGOS
                </button>
                <p id="status-message" style="color: red;"></p>
                <div id="map" style="height: 400px; flex: 100%; background-color: purple; border: 1px solid purple;
                    border-radius: 5pz;"></div>
            </div>
            
            <div style="flex: 40%; margin-left: 20px;">
                <div style="width: 500px; height: 500px; border: 5px solid black; 
                    border-radius: 15px; overflow: auto;">
                    <h2 style="height: 70px; border-bottom: 5px solid black;">Geo-locations covered</h2>

                    <div style="height: 70px; width: 500px; margin: auto; border-top: 4px solid grey;
                        border-bottom: 2px solid grey; padding-top: 22px; box-sizing: border-box;">Ikeja
                    </div>

                    <div style="height: 70px; width: 500px; margin: auto; border-top: 2px solid grey;
                        border-bottom: 2px solid grey; padding-top: 22px; box-sizing: border-box;">Ikeja
                    </div>

                    <div style="height: 70px; width: 500px; margin: auto; border-top: 2px solid grey;
                        border-bottom: 2px solid grey; padding-top: 22px; box-sizing: border-box;">Ikeja
                    </div>

                    <div style="height: 70px; width: 500px; margin: auto; border-top: 2px solid grey;
                        border-bottom: 2px solid grey; padding-top: 22px; box-sizing: border-box;">Ikeja
                    </div>

                    <div style="height: 70px; width: 500px; margin: auto; border-top: 2px solid grey;
                        border-bottom: 2px solid grey; padding-top: 22px; box-sizing: border-box;">Ikeja
                    </div>

                    <div style="height: 70px; width: 500px; margin: auto; border-top: 2px solid grey;
                        border-bottom: 2px solid grey; padding-top: 22px; box-sizing: border-box;">Ikeja
                    </div>

                    <div style="height: 70px; width: 500px; margin: auto; border-top: 2px solid grey;
                        border-bottom: 2px solid grey; padding-top: 22px; box-sizing: border-box;">Ikeja
                    </div>

                    <div style="height: 70px; width: 500px; margin: auto; border-top: 2px solid grey;
                        border-bottom: 2px solid grey; padding-top: 22px; box-sizing: border-box;">Ikeja
                    </div>
                </div>
            </div>
        </div>

            


    
    <!-- <div class="section-two">
        <div class="section-two-sub1">
            <div style="display: block;">
                <h1>Loved By Our Customers</h1>
                <p>Be a land owner. Investing in property is gold. <br> 
                Buy, keep, build or buy a completely built home. </p>
            </div>
            <img src="{{ url_for ('static', filename='happy-african-family.jpg') }}" class="happy-family-img">
            <div class="orange-rectangle"></div>
        </div>
        <div class="section-two-sub2">
            <img src="{{ url_for ('static', filename='delivery-agent.jpg')}}" class="delivery-agent-img">
            <div style="display: block;">
                <h1>Set up your home and Office</h1>
                <h3>make your house your home</h3>
                <p>Shop brand new and fairly house items, appliances, gadgets, tools<br>
                stress-free without breaking the bank. Delivered to your doorstep.
                </p>
            </div>
        </div>
    </div>

    <div class="section-three">
        <button id="slider-button"></button>
        <div class="section-three-slidebackground">
            <div class="section-three-lagos-towns">
                <div class="section-three-ikeja" id="slider"> Ikeja </div>
                <div class="section-three-the-rest"> Lagos island </div>
                <div class="section-three-the-rest"> Amuwo Odofin </div>
                <div class="section-three-the-rest"> Ikorodu </div>
                <div class="section-three-the-rest"> Apapa </div>
                <div class="section-three-the-rest"> Surulere </div>
                <div class="section-three-the-rest"> Shomolu </div>
                <div class="section-three-the-rest"> and so on </div>
            </div>
        </div>
        <div style="display: block;">
            <h1>Relocate to and within <br> lagos with ease </h1>
            <h4>Get an apartment of your taste without lifting a leg.</h4>
        </div>
    </div> -->

    <script>
        // document.getElementById("slider-button").addEventListener("click", myCounter);

        // myCounter function gets called only once by saying add = myCounter(). so therefore the return value
        // of function() of myCounter() is given to add() which is not a function by assignment, instead of myCounter();
        
        // this is the script for customer, vendor, agent, feature craft row buttons
        let slideIndex = 1;
        changeActive(slideIndex);

        function changeBackgroundcolor(n) {
            // we will called the function changeActive(n) below so that when it is declared further below,
            // it will be executed within this function changeBackgroundcolor(n)
            changeActive(slideIndex = n);
        }

        function changeActive(n) {
            let i;
            let navChangeColor = document.getElementsByClassName("nav-landingpg");
            for (i=0; i<navChangeColor.length; i++) {
                navChangeColor[i].style.backgroundColor = "lightyellow";
            }
            navChangeColor[slideIndex-1].style.backgroundColor = "red";
        }

// --------------------------------------------------------------------------------------------------------------
        
        const containerelement = document.querySelector(".loader3in1Slide-container");    
        // let sliderNumber = 1;
        // slideCaller(sliderNumber);

        // function eachslidein(n) {
        //     slideCaller(sliderNumber = n);
        // }
        // this helps you control the circumstances under which the observer's callback
        // is invoked
        const options = {
            root: null,
            rootMargin: '0px',
            threshold: 0.5
        };
        //NB1: two items are passed into the intersectionObserver(): 1) the callback function-(entries, observer),
        // and 2) the options variable. ((entries, observer), options);
        // NB2: The callback passed to the intersectionObserver() constructor,
        // receives a list of (IntersectionObserverEntry objects and the observer) which is why the callback 
        // is described as (entries, observer).

        function displayatinterval(myentryArray) {
            
            if (myentryArray[0].isIntersecting) {
                const slides = document.querySelectorAll(".loader-in-landingpage-subdiv"); 
               let currentSlide = 0;

                //    function to move to the next slide
                function nextSlide() {

                    // remove class from current slide
                    slides[currentSlide].classList.remove('div3in1-fade-lp');

                    // move to next slide or back to first
                    currentSlide = (currentSlide + 1) % slides.length;

                    slides[currentSlide].classList.add('div3in1-fade-lp');
                }
                setInterval(nextSlide, 4000);
                
            }
        }
        
        let observer = new IntersectionObserver(displayatinterval, options);
        observer.observe(containerelement);
        

    // -------------------------------------------------------------------------------------------------------------
    
    // adding live location options to the website.
    // To provide users with live location options, implement this using geolocation APIs
    // and mapping services.
    // A1) use html5 Geolocation API to get user's current location
    document.addEventListener('DOMContentLoaded', function() {
        const getUserLocation = document.getElementById('get-location');
        const statusMessage = document.getElementById('status-message');
        // conts nearbyPlaces =

        getUserLocation.addEventListener('click', function() {
            // The geolocation property returns a geolocation object that can be used to locate user's position.
            // and first the user has to approve of this, by clicking accept always, or this once etc that pops up 
            // to access their location. so navigator.geolocation is checking if user grants access
            if (navigator.geolocation) {
                statusMessage.textContent = "Getting your location...";
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const userLocation = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        // use these coordinates with your map. Here we call the function initializeMap
                        initializeMap(userLocation);
                        map.setCenter(getUserLocation);
                        map.serZoom(14);
                    },
                    (error) => {
                        switch(error.code) {
                            case error.PERMISSION_DENIED:
                                statusMessage.textContent = "location access denied by user";
                                break;
                            case error.POSITION_UNAVAILABLE:
                                statusMessage.textContent = "Location information unavailable";
                                break;
                            case error.TIMEOUT:
                                statusMessage.textContent = "Location request time out";
                                break;
                            default: statusMessage.textContent = "An unknown error occured";

                        //     console.error("Error obtaining location:", error.message);
                        // Handle errors or fallback to IP-based geolocation
                        }
                    
                    }
                );
            } else {
                statusMessage.textContent = "Geolocation not supported by this browser";
                // console.error("Geolocation not supported by this browser");
                // provide alternative location selection
            }
        });
    });
    

    // A2) Integrate a Maps API within the application, google maps is a popular choice
    function initializeMap(userLocation) {
        // googlemaps.Map represents the actual map instance displayed on the webpage. it allows you 
        // to associate elements (like Markers, overlays or custom controls) with a specific map instance
        const map = new google.maps.Map(document.getElementById("map"), {
            // the 2 properties below control the initial view of the map. center sets the geographical 
            // coordinates(latitude & longitude) that the map will initially focus on. while zoom
            // determines the level of detail shown on the map
            center: userLocation,
            zoom: 14
        });
        // add a marker for user's current location. it identifies a location on map
        const marker = new google.maps.Marker ({
            // position specifies the coordinates, map allows you to associate elements like markers with a
            // specific map instance displayed on the webpage.
            position: userLocation,
            map: map,
            title: "Your Location"
        });

        // allow users to select different locations by clicking
        map.addListener("click", (event) => {
            marker.setPosition(event.latLng);
            getAddressFromCoordinates(event.latLng);
        });
    }

    // A3 add location search and autocomplete
    // using google's 'Places Autocomplete' as an example
    function initializeAutocomplete() {
        const input = document.getElementById("location-search");
        const autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.addListener("place_changed", () => {
            const place = autocomplete.getPlace();
            if(place.geometry) {
                const selectedLocation = {
                    lat: place.geometry.location.lat(),
                    lng:place.geometry.location.lng(),
                    address: place.formatted_address
                };
                // update map and use this location
                updateSelectedLocation(selectedLocation);
            }
        });
    }

    // A4) Create a UseFriendly interface: build a selection interface with options like-
    // *"Use my current location" button
    // *Search box with autocomplete
    // *common locations list(for returning users)
    // *Recent locations(stored in browser storage)

    // A5) Store and process the Selected Location
    function updateSelectedLocation(location) {
        // store the selected location for form submission
        document.getElementById("latitude").value = location.lat;
        document.getElementById("longitude").value = locaiton.lng;
        document.getElementById("formatted-address").value = location.address;

        // update the UI to show the selected location
        document.getElementById("latitude").value = location.lat;
        document.getElementById("longitude").value =  location.lng;
        document.getElementById("formatted-address").value = location.address;

        // save to localStorage for future visits if needed
        saveLocationToHistory(location);
    }
    // additional considerations: *privacy- always request user permission before 
    // accessing location. *fallbacks- provide IP-based geolocation if GPS isnt available
    // *performance- load mapping libraries asynchronously 
    // *mobile optimization- ensure touch-friendly controls
    // *accessibility- make all location functions keyboard accessible
    




    // B1) lets add clickable live location shopping to the website by combining geolocation,
        // mapping, and e-commerce functionality:
    // lets create an interactive store Locator Map
    // First, build a map that displays shopping/items locations:

    function initializeStoreLocator(userLocation) {
        // initialize map centered on user's location. Then get the input element that the agents
        // & vendors filled for items location so that you can choose user's location from them
        const map = new google.maps.Map(document.getElementById("store-map"), {
            center: userLocation,
            zoom: 12
        });

        // fetch nearby stores from the database (using the location row)
        fetchNearbyStores(userLocation)
            .then(stores => {
                // add each store as a clickable marker
                stores.forEach(store => {
                    const marker = new google.maps.Marker({
                        position: {lat: store.latitude, lng: store.longitude },
                        map: map,
                        title: store.name,
                        icon: {
                            url: 'store-marker.png',
                            scaledSize: new google.maps.Size(40,40)
                        }
                    });

                    // make the marker clickable to select this store
                    marker.addListener("click", () => {
                        selectStore(store);
                    });
                    // add info window with preview info
                    const infoWindow = new google.maps.InfoWindow({
                        content: `
                            <div class = "store-preview">
                                <h3>${store.name}</h3>
                                <p>${store.address}</p>
                                <p>Open: ${store.hours}</p>
                                <button onclick = "selectStore(${store.id})">Shop this item</button>
                            </div>
                        `
                    });

                    marker.addListener("mouseover", () => {
                        infoWindow.open(map, marker);
                    });
                });
            });
    }

    // 2) lets Build the Back-end API for store data
    // you'll need endpoints to: fetch stores near coordinates, get inventory by store location,
    // handle location-specific pricing/availability
    async function fetchNearbyStores(userLocation) {
        const response = await fetch('/api/stores/nearby', {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify({
                latitude: userLocation.lat,
                longitude: userLocation.lng,
                radius: 25
            })
        });
        return await response.json();
    }

    // 3) Create a Store Selection & Shopping Flow when a user selects a store location:
    function selectStore(store) {
        // store the selected location in session
        sessionStorage.setTime('selectedStoreId', store.id);
        sessionStorage.setTime('selectedStoreName', store.name);
        
        // update User Interface to show selected store
        document.getElementById('current-store').textContentstore.name;

        // fetch store-specific inventory and update product listings
        fetchStoreInventory(store.id)
            .then(inventory => {
                updateProductAvailability(inventory);
            });

        // optionally, switch view  from map to products
        document.getElementById('store-locator').classList.add('collapsed');
        document.getElementById('product-lisitngs').classList.add('hidden');

        // update URL if needed
        history.pushState(null, null, `/shop/${store.slug}`);
    }

    // 4) update product listings based on location
    function updateProductAvailability(inventory) {
        const productElements = document.querySelectorAll('.product-item');

        productElements.forEach(productEl => {
            const productId = productEl.dataset.productId;
            const stockInfo = inventory[productId];

            const availabilityEl = productEl.querySelector('.availability');
            const priceEl = productEl.querySelector('.price');
            const addToCartBtn = productEl.querySelector('.add-to-cart');
            
            if (stockinfo) {
                // update price (may vary by location)
                priceEl.textContent = `$${stockInfo.price.toFixed(2)}`;
                
                // update availability
                if (stockInfo.quantity > 0) {
                    availabilityEl.textContent = `In stock ($(stockInfo.quantity))`;
                    availabilityEl.classList.add('in-stock');
                    addToCartBtn.disabled = false;
                } else {
                    availabilityEl.textContent = 'Out of Stock at this location';
                    availabilityEl.classList.add('out-of-stock');
                    addToCartBtn.disabled = true;
                }
            } else {
                availabilityEl.textContent = 'Not available at this location';
                availabilityEl.classList.add('unavailable');
                addToCartBtn.disabled = true;
            }
        });
    }

    // 5) Enhance user experience.
    // store user's preferred location
    function rememberUserPreference(storeId) {
        localStorage.setItem('preferredStoreId', storeId);
    }
    // let user's switch location easily
    function addLocationSwitcher() {
        const switcher = document.getElementById('location-switcher');
        switcher.addEventListener('click', () => {
            document.getElementById('store-locator').classList.remove('collapsed');
            document.getElementById('product-listing').classList.add('faded');
        });
    }
        
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initializeMap"></script>
{% endblock %}
