verify-email-otp.html
{% extends "layout.html" %}

{% block body %}

    <div class="top-nav">
        <div class="personal-details-text"> < Verify Email Address</div>
        <div class="login-link"> Login > </Login></div>
    </div>

    <div>
        <div style="width: 400px; margin: auto; background-color: brown;">
            <div>Verify your email</div>
            <div>Enter the OTP sent to your email</div>
            <div>markhomey@gmail.com</div>
        </div>
    </div>
{% endblock %}